body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* This is all the code for the nav */
nav {
    max-width: 100vw;
    height: 100px;
    margin: 0;
}

.name {
    width: 100%;
    height: 60px;
    margin: 10px;
    margin-left: -70px;
}

.name h1 {
    font-size: 42px;
    color: #fff;
}

.links {
    padding-right: 50px;
    padding-left: 0;
    margin-top: -16px;
}

.links ul {
    display: flex;
}

.links a {
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    width: 25%;
    height: 45px;
    font-size: 22px;
}

.links a:hover {
    background-color: #e9e9e9;
}

.links li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* End of nav */

/* Start of header*/
header {
    height: 450px;
    max-width: 100vw;
    /*Image from Gradienta on unsplash */
    background-image: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.Introduction {
    height: 300px;
    width: 350px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

.avatar {
    background-image: url(../Images/Profilepic.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* End of header*/

/* Beginning of main */
.main {
    max-width: 100vw;
}

/* Start of section inside of main */

section {
    padding-left: 150px;
    margin-bottom: 10px;
}

section h2 {
    border-bottom: 5px solid cyan;
    font-size: 45px;
    width: 225px;
}

.content {
    margin-right: 100px;
    font-size: 22px;
    margin-top: 10px;
    max-width: 100%;
    line-height: 1.5em;
}

.work {
    
}


/* End of section inside of main */

/* Start of work*/
#main-project {
    border: 1px solid black;
    height: 300px;
    width: 1000px;
}

/* End of work */
.contact {
    display: flex;
}

.contact p {
    margin-inline-end: 50px;
    border-bottom: 4px solid cyan;
}

.contact a {
    text-decoration: none;
    color: black;
}
/* Start of contact */


/* End of contact */
/* End of Main */

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }
}