body {
    max-width: 100%;
    margin: 0;
}

/* This is all the code for the nav */
nav {
    max-width: 100vw;
    height: 100px;
    background-color: #737373;
    display: flex;
    align-items: center;
}

.name {
    width: 350px;
    height: 60px;
    margin: auto 0;
    position: relative;
    top: 27%;
    transform: translateY(-50%);
    background-color: #33cccc;
}

.name h1 {
    position: relative;
    top: -55%;
    left: 25%;
    transform: translateY(-50%);
    font-size: 42px;
    color: #737373;
}

.links {
    position: absolute;
    right: 30px;
}

.links a{
    text-decoration: none;
    list-style: none;
    color: #33cccc;
}

.links li {
    border-bottom: 3px solid #33cccc;
    display: inline;
    margin: 10px;
    font-size: 32px;
}

/* End of nav */

/* Start of header*/
header {
    height: 300px;
    max-width: 100vw;
    /*Image from Gradienta on unsplash */
    background-image: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.subtitle {
    height: 100px;
    width: 350px;
    float: right;
    position: relative;
    bottom: -75%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #33cccc;
    text-align: center;
    font-size: 25px;
}

/* End of header*/

/* Beginning of main */
.main {
    max-width: 100vw;
}

/* Start of section inside of main */

section {
    display: flex;
    padding-left: 150px;
    margin-bottom: 10px;
}

section h2 {
    border: 1px solid black;
    float: right;
    font-size: 45px;
    width: 25%;
}

section span {
    float: right;
}

.content {
    border-left: 4px solid black;
    margin-inline-start: 30px;
    padding-left: 10px;
    font-size: 25px;
    margin-top: 10px;
    max-width: 100%;
}

.work {
    border-left: 3px solid black;
    margin-left: 10px;
}


/* End of section inside of main */

/* Start of work*/
#main-project {
    border: 1px solid black;
    height: 300px;
    width: 1000px;
}

/* End of work */
/* End of Main */